# OS system files
Thumbs.db
.DS_Store

# Gradle
.gradle
build/
gradle/
gradlew*

# IDEs
# - IntelliJ IDEA
.idea
*.ipr
*.iws
*.iml
# - Eclipse
.project
.settings
.classpath

# Jekyll
docs/_site/
docs/.sass-cache
docs/.jekyll-metadata
docs/Gemfile.lock

# Misc
logs/
out/
lib/

