<plugin name='rdc-rmodules' version='0.2' grailsVersion='2.0.4 &gt; *'>
  <author>Sai Kumar Munikuntla</author>
  <authorEmail>smunikuntla@recomdata.com</authorEmail>
  <title>R Modules Plugin</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/rmodules</documentation>
  <type>RdcRmodulesGrailsPlugin</type>
  <resources>
    <resource>com.recomdata.transmart.data.association.BoxPlotController</resource>
    <resource>com.recomdata.transmart.data.association.DataAssociationController</resource>
    <resource>com.recomdata.transmart.data.association.IC50Controller</resource>
    <resource>com.recomdata.transmart.data.association.MarkerSelectionController</resource>
    <resource>com.recomdata.transmart.data.association.PCAController</resource>
    <resource>com.recomdata.transmart.data.association.RHClustController</resource>
    <resource>com.recomdata.transmart.data.association.RHeatmapController</resource>
    <resource>com.recomdata.transmart.data.association.RKMeansController</resource>
    <resource>com.recomdata.transmart.data.association.RModulesController</resource>
    <resource>com.recomdata.transmart.data.association.ScatterPlotController</resource>
    <resource>com.recomdata.transmart.data.association.SurvivalAnalysisController</resource>
    <resource>com.recomdata.transmart.data.association.TableWithFisherController</resource>
    <resource>com.recomdata.transmart.data.association.WaterfallController</resource>
    <resource>com.recomdata.transmart.data.association.pdf.PDFController</resource>
    <resource>com.recomdata.transmart.data.association.RModulesOutputRenderService</resource>
    <resource>com.recomdata.transmart.data.association.RModulesService</resource>
    <resource>com.recomdata.transmart.data.association.asynchronous.RModulesJobService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='hsqldb' name='hsqldb' version='1.8.0.10' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='hibernate' version='2.0.4' />
      <plugin group='org.grails.plugins' name='quartz' version='0.4.2' />
    </compile>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>