#ppmi-form button {
    float: left;
    margin: 3px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #4CAF50;
    color: white;
}

#ppmi-form button:hover:not([disabled]) {
    cursor: pointer;
    border-radius: 0;
}

#ppmi-form button:disabled {
    background: #F44336;
}

#error-msgs {
    color: red;
}

#sr-ppmi-pdmap-form > div {
    margin: 2px;
    padding: 2px;
}

#sr-ppmi-variantdb-form > div {
    margin: 2px;
    padding: 2px;
}
#sr-ppmi-pdmap-form {
    width: 45%;
    float: left;
    margin: 0 0 0 5px;
}
#sr-ppmi-variantdb-form {
    width: 45%;
    float: left;
    margin: 0 5px 0 0;
}
#sr-ppmi-variantdb-form p {
    font-weight: bold;
    font-size: 12pt;
}
#sr-ppmi-pdmap-form p {
    font-weight: bold;
    font-size: 12pt;
}
#sr-ppmi-pdmap-form input[type="text"] {
    width: 100%;
}

#sr-ppmi-variantdb-form input[type="text"], [type="password"] {
    width: 100%;
}
#sr-ppmi-messages {
    float: left;
    width: 90%;
}

#loading-msgs {
    font-size: 12pt;
    font-weight: bold;
}

.sr-ppmi-table {
    border-collapse: collapse;
    width: 100%;
}

.sr-ppmi-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.sr-ppmi-table tr:nth-child(even) {
    background-color: #dddddd;
}
