---
grails:
    profile: web-plugin
    codegen:
        defaultPackage: org.transmart.oauth
    spring:
        transactionManagement:
            proxies: false
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false

# Spring Actuator Endpoints are Disabled by Default
endpoints:
    enabled: false
    jmx:
        enabled: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
endpoints:
    jmx:
        unique-names: true

---
grails:
    plugin:
        springsecurity:
            useSecurityEventListener: true
            oauthProvider:
                clientLookup:
                    className: 'org.transmart.oauth.Client'
                authorizationCodeLookup:
                    className: 'org.transmart.oauth.AuthorizationCode'
                accessTokenLookup:
                    className: 'org.transmart.oauth.AccessToken'
                refreshTokenLookup:
                    className: 'org.transmart.oauth.RefreshToken'
            userLookup:
                userDomainClassName: 'org.transmart.searchapp.AuthUser' #customized user GORM class
                passwordPropertyName: 'passwd' #customized password field
                authorityJoinClassName: 'org.transmart.searchapp.AuthUser' #customized user /role join GORM class
            authority:
                className: 'org.transmart.searchapp.Role'
            requestMap:
                className: 'org.transmart.searchapp.Requestmap'
            successHandler:
                defaultTargetUrl: ''
            logout:
                afterLogoutUrl: '/login/forceAuth'

bruteForceLoginLock:
    allowedNumberOfAttempts: 3
    lockTimeInMinutes: 10
}
---
hibernate:
    cache:
        queries: false
        use_second_level_cache: true
        use_query_cache: false
        region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

dataSource:
    pooled: true
    jmxExport: true
    driverClassName: org.h2.Driver
    username: sa
    password:

dataSources:
    oauth2:
        driverClassName: 'org.h2.Driver'
        url: "jdbc:h2:~/.grails/oauth2db;MVCC=TRUE"
        dialect: 'org.hibernate.dialect.H2Dialect'
        username: 'sa'
        password: ''
        dbCreate: 'update'
        logSql: true
        formatSql: true



environments:
    development:
        dataSource:
            url: jdbc:postgresql://localhost:5432/transmart
            driverClassName: org.postgresql.Driver
            dialect: org.hibernate.dialect.PostgreSQLDialect
            username: biomart_user
            password: biomart_user
            dbCreate: none
    test:
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    production:
        dataSource:
            dbCreate: none
            url: jdbc:h2:./prodDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: 50
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED