<div>
  <button type="button" [ngClass]="{'btn': true, 'btn-link': true, 'nav-btn': true, 'nav-active': isDashboard}"
          [routerLink]="['/dashboard']">
    Dashboard
  </button>
  <span class="glyphicon glyphicon-menu-right nav-pointer"></span>
  <button type="button" [ngClass]="{'btn': true, 'btn-link': true, 'nav-btn': true, 'nav-active': isDataSelection}"
          [routerLink]="['/data-selection']">
    Data Selection
  </button>
  <span class="glyphicon glyphicon-menu-right nav-pointer"></span>
  <button type="button" [ngClass]="{'btn': true, 'btn-link': true, 'nav-btn': true, 'nav-active': isAnalysis}"
          [routerLink]="['/analysis']">
    Analysis
  </button>
  <span class="glyphicon glyphicon-menu-right nav-pointer"></span>
  <button type="button" [ngClass]="{'btn': true, 'btn-link': true, 'nav-btn': true, 'nav-active': isExport}"
          [routerLink]="['/export']">
    Export
  </button>
</div>
