.greybutton {
    background-color: #F4F4F4;
    border: 1px solid #DDD;
    cursor: pointer;
    border-radius: 2px;
    font-size: 8pt;
    padding: 2px;
}
.greybutton.foldericon {
    padding: 2px 2px 2px 24px;
}

.foldertitle {
    white-space: nowrap;
}

.foldericon {
    padding: 2px 2px 2px 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 2px 50%;
    background-image: url('../images/filetypes/page_white.png');
}

.foldericon.program { background-image: url('../images/foldertypes/program.png'); }
.foldericon.study   { background-image: url('../images/foldertypes/study.png'); }
.foldericon.studywsubject   { background-image: url('../images/foldertypes/studywsubject.png'); }
.foldericon.folder  { background-image: url('../images/foldertypes/folder.png'); }
.foldericon.assay   { background-image: url('../images/foldertypes/assay.png'); }
.foldericon.analysis { background-image: url('../images/foldertypes/analysis.png'); }

.foldericon.addcart { background-image: url('../images/icons/addcart.png'); padding: 2px 2px 2px 24px; }
.foldericon.removecart { background-image: url('../images/icons/removecart.png'); padding: 2px 2px 2px 24px; }
.foldericon.deletefile { background-image: url('../images/icons/bin_closed.png'); }
.foldericon.exportgo { background-image: url('../images/icons/package_go.png'); }

/* File icons are !important so that they override the icon properties in Dataset Explorer... */
.fileicon {
    padding: 3px 24px 0px 0px;
    background-image: url('../images/filetypes/page_white.png') !important;
    background-repeat: no-repeat;
}

.fileicon.csv, .fileicon.xls, .fileicon.xlsx { background-image: url('../images/filetypes/page_white_excel.png') !important; }
.fileicon.doc, .fileicon.docx { background-image: url('../images/filetypes/page_white_word.png') !important; }
.fileicon.txt, .fileicon.log, .fileicon.rtf { background-image: url('../images/filetypes/page_white_text.png') !important; }
.fileicon.pdf { background-image: url('../images/filetypes/page_white_acrobat.png') !important; }
.fileicon.zip { background-image: url('../images/filetypes/page_white_zip.png') !important; }
.fileicon.xml, .fileicon.html, .fileicon.htm { background-image: url('../images/filetypes/page_white_code.png') !important; }
.fileicon.png, .fileicon.jpg, .fileicon.bmp, .fileicon.gif { background-image: url('../images/filetypes/page_white_picture.png') !important; }

.filelisttable .th {
    font-weight: bold;
    background-image: none;
}

#cartbutton {
    position: relative;
    padding: 0px 4px;
}

#cartcount {
    position: absolute;
    left: 9px;
    top: -1px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    color: #586;
}

#exportOverlay {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.overlay {
    display: none;
    position: absolute;
    background-color: white;
    padding: 4px;
    max-width: 90%;
    max-height: 90%;
    z-index:2001;
    border: 1px solid #AED0EA;
    box-shadow: 1px 1px 10px #CCCCCC;
}

.exporttable td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.link {
    cursor: pointer;
}

.filelisttable th {
    padding: 6px;
    background: none;
    font-weight: bold;
}

.ajaxloading {
    background-image: url('../images/loader-large.gif') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    min-height: 128px;
}

.hi {
    background-color: lightyellow;
}

col.wide {
    width: 50%;
}

.fileFolderNode .x-tree-node-anchor span {
    font-style: italic
}

.x-tree-node-expanded .x-tree-node-icon.fileFolderNode {
    background-image: url('../images/icons/filefolder-open.png')
}

.x-tree-node-collapsed .x-tree-node-icon.fileFolderNode {
    background-image: url('../images/icons/filefolder.png')
}