div.errorbox {
    background-color: #FCC;
    border: 1px solid #F88;
    background-image: url('../images/exclamation.png');
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding: 8px 8px 8px 32px;
    font-size: 10pt;
}

pre.errorstacktrace {
    font-size: 8pt;
    background-color: #EEE;
}