<plugin name='biomart-domain' version='1.0-SNAPSHOT' grailsVersion='1.3.7 &gt; *'>
  <author>David Newton</author>
  <authorEmail>davinewton@deloitte.com</authorEmail>
  <title>tranSMART Biomart Domain Objects</title>
  <description>\
Domain objects for the tranSMART Biomart schema
</description>
  <type>BiomartDomainGrailsPlugin</type>
  <resources>
    <resource>BioBankSample</resource>
    <resource>bio.AdHocProperty</resource>
    <resource>bio.AnalysisMetadata</resource>
    <resource>bio.BioAnalysisAttribute</resource>
    <resource>bio.BioAnalysisAttributeLineage</resource>
    <resource>bio.BioAssay</resource>
    <resource>bio.BioAssayAnalysis</resource>
    <resource>bio.BioAssayAnalysisData</resource>
    <resource>bio.BioAssayAnalysisDataIdx</resource>
    <resource>bio.BioAssayAnalysisDataTea</resource>
    <resource>bio.BioAssayAnalysisExt</resource>
    <resource>bio.BioAssayAnalysisPlatform</resource>
    <resource>bio.BioAssayCohort</resource>
    <resource>bio.BioAssayData</resource>
    <resource>bio.BioAssayDataAnnotation</resource>
    <resource>bio.BioAssayDataStatistics</resource>
    <resource>bio.BioAssayDataset</resource>
    <resource>bio.BioAssayFeatureGroup</resource>
    <resource>bio.BioAssayPlatform</resource>
    <resource>bio.BioAssaySample</resource>
    <resource>bio.BioAssayStatsExpMarker</resource>
    <resource>bio.BioData</resource>
    <resource>bio.BioDataAttribute</resource>
    <resource>bio.BioDataCorrelation</resource>
    <resource>bio.BioDataCorrelationDescr</resource>
    <resource>bio.BioDataExternalCode</resource>
    <resource>bio.BioMarker</resource>
    <resource>bio.BioMarkerCorrelationMV</resource>
    <resource>bio.BioMarkerExpAnalysisMV</resource>
    <resource>bio.BioMesh</resource>
    <resource>bio.BioSample</resource>
    <resource>bio.BioSubject</resource>
    <resource>bio.CellLine</resource>
    <resource>bio.CgdcpData</resource>
    <resource>bio.ClinicalTrial</resource>
    <resource>bio.ClinicalTrialPatientGroup</resource>
    <resource>bio.ClinicalTrialTimePoint</resource>
    <resource>bio.Compound</resource>
    <resource>bio.ConceptCode</resource>
    <resource>bio.Content</resource>
    <resource>bio.ContentReference</resource>
    <resource>bio.ContentRepository</resource>
    <resource>bio.CurationDataset</resource>
    <resource>bio.Disease</resource>
    <resource>bio.Experiment</resource>
    <resource>bio.Literature</resource>
    <resource>bio.LiteratureAlterationData</resource>
    <resource>bio.LiteratureAssocMoleculeDetailsData</resource>
    <resource>bio.LiteratureInhibitorData</resource>
    <resource>bio.LiteratureInteractionData</resource>
    <resource>bio.LiteratureInteractionModelMV</resource>
    <resource>bio.LiteratureModelData</resource>
    <resource>bio.LiteratureProteinEffectData</resource>
    <resource>bio.LiteratureReferenceData</resource>
    <resource>bio.LiteratureSummaryData</resource>
    <resource>bio.Observation</resource>
    <resource>bio.Patient</resource>
    <resource>bio.PatientEvent</resource>
    <resource>bio.PatientEventAttribute</resource>
    <resource>bio.Taxonomy</resource>
    <resource>org.transmart.biomart.AdHocProperty</resource>
    <resource>org.transmart.biomart.AnalysisMetadata</resource>
    <resource>org.transmart.biomart.BioAnalysisAttribute</resource>
    <resource>org.transmart.biomart.BioAssay</resource>
    <resource>org.transmart.biomart.BioAssayAnalysis</resource>
    <resource>org.transmart.biomart.BioAssayAnalysisData</resource>
    <resource>org.transmart.biomart.BioAssayAnalysisDataTea</resource>
    <resource>org.transmart.biomart.BioAssayAnalysisExt</resource>
    <resource>org.transmart.biomart.BioAssayAnalysisPlatform</resource>
    <resource>org.transmart.biomart.BioAssayCohort</resource>
    <resource>org.transmart.biomart.BioAssayData</resource>
    <resource>org.transmart.biomart.BioAssayDataAnnotation</resource>
    <resource>org.transmart.biomart.BioAssayDataStatistics</resource>
    <resource>org.transmart.biomart.BioAssayDataset</resource>
    <resource>org.transmart.biomart.BioAssayFeatureGroup</resource>
    <resource>org.transmart.biomart.BioAssayPlatform</resource>
    <resource>org.transmart.biomart.BioAssaySample</resource>
    <resource>org.transmart.biomart.BioAssayStatsExpMarker</resource>
    <resource>org.transmart.biomart.BioData</resource>
    <resource>org.transmart.biomart.BioDataAttribute</resource>
    <resource>org.transmart.biomart.BioDataCorrelation</resource>
    <resource>org.transmart.biomart.BioDataCorrelationDescr</resource>
    <resource>org.transmart.biomart.BioDataExternalCode</resource>
    <resource>org.transmart.biomart.BioMarker</resource>
    <resource>org.transmart.biomart.BioMarkerCorrelationMV</resource>
    <resource>org.transmart.biomart.BioMarkerExpAnalysisMV</resource>
    <resource>org.transmart.biomart.BioSample</resource>
    <resource>org.transmart.biomart.BioSpeciesOrganism</resource>
    <resource>org.transmart.biomart.BioSubject</resource>
    <resource>org.transmart.biomart.CellLine</resource>
    <resource>org.transmart.biomart.CgdcpData</resource>
    <resource>org.transmart.biomart.ClinicalTrial</resource>
    <resource>org.transmart.biomart.ClinicalTrialPatientGroup</resource>
    <resource>org.transmart.biomart.ClinicalTrialTimePoint</resource>
    <resource>org.transmart.biomart.Compound</resource>
    <resource>org.transmart.biomart.ConceptCode</resource>
    <resource>org.transmart.biomart.Content</resource>
    <resource>org.transmart.biomart.ContentReference</resource>
    <resource>org.transmart.biomart.ContentRepository</resource>
    <resource>org.transmart.biomart.CurationDataset</resource>
    <resource>org.transmart.biomart.Disease</resource>
    <resource>org.transmart.biomart.Experiment</resource>
    <resource>org.transmart.biomart.Literature</resource>
    <resource>org.transmart.biomart.LiteratureAlterationData</resource>
    <resource>org.transmart.biomart.LiteratureAssocMoleculeDetailsData</resource>
    <resource>org.transmart.biomart.LiteratureInhibitorData</resource>
    <resource>org.transmart.biomart.LiteratureInteractionData</resource>
    <resource>org.transmart.biomart.LiteratureInteractionModelMV</resource>
    <resource>org.transmart.biomart.LiteratureModelData</resource>
    <resource>org.transmart.biomart.LiteratureProteinEffectData</resource>
    <resource>org.transmart.biomart.LiteratureReferenceData</resource>
    <resource>org.transmart.biomart.LiteratureSummaryData</resource>
    <resource>org.transmart.biomart.Observation</resource>
    <resource>org.transmart.biomart.Patient</resource>
    <resource>org.transmart.biomart.PatientEvent</resource>
    <resource>org.transmart.biomart.PatientEventAttribute</resource>
    <resource>org.transmart.biomart.Taxonomy</resource>
    <resource>search.SearchTaxonomy</resource>
  </resources>
</plugin>