#analysisWidget h2, #analysisOutput h2 {margin: 0 20px 20px 0; font-size: 1.1em;}
#analysisWidget {width : 405px; padding: 10px; font-size: 12px; font-family: Tahoma, Arial, Verdana, sans-serif;}
#analysisOutput {padding: 5px; font-size: 12px; font-family: Tahoma, Arial, Verdana, sans-serif;}

#analysisForm fieldset {border: 0;}
#analysisForm label {float: left; clear: left; margin: 11px 10px 0 0; width: 150px; text-align: right;}
#analysisForm .inputFields input:not([type=checkbox]) {width: 225px; height: 20px; padding: 5px 5px 0 5px; margin: 0 0 10px 0; font: inherit;}
#analysisForm .inputFields {margin: 20px 0 20px 0}
#analysisForm .chkGroupBySubject {margin: 20px 0 20px 0}

.runAnalysisBtn {float:right;}
.highDimBtns {text-align: right;  margin-bottom: 20px;}
.highDimBox {margin: 10px 0 10px 0; width: 390px!important; height:75px!important;}
.independentVars {margin-bottom: 20px;}

#dataAssociationBody {font-size: 11px; font-family: Tahoma, Arial, Verdana, sans-serif; background-color: #EEEEEE}
#dataAssociationBody {padding: 5px; border-bottom: 2px silver solid;}
#dataAssociationBody {font-weight: normal; color: #333}

.warning {color: firebrick}
.plot_hint {font-style: italic;}
.downloadLink {font-weight: bold; margin: 10px 0 0 0;}
.plot_result_container {padding: 10px; font-family: Tahoma, Arial, "sans serif"; font-size: .8em;}
.analysis_container {font-family: Arial, "sans serif";font-size: .7em;}
.singleDiv {width:100%; font:11px tahoma, arial, helvetica, sans-serif}

.highDimForm {height:100%;padding:5px; font:11px tahoma, arial, helvetica, sans-serif;}
.highDimForm label {display: block;padding: 0;margin: 10px 0 0;text-align: left;}
.highDimForm input {height: 20px; background-color: #efefef}
.highDimForm input:not([type=checkbox]), .highDimForm textarea { width: 100%;}

#analysisForm .inputFields .binningDiv input:not([type=checkbox]) {width: 196px; height: 15px !important; padding: 0; margin: 0px; font: inherit;}
#analysisForm .inputFields .binningDiv select {width: 200px; height: 15px !important; padding: 0;  margin: 0; font: inherit;}
#analysisForm .inputFields .binningDiv label, #analysisForm .inputFields .waterfall-params label {float: left; clear: left; margin:0; width: 150px; text-align: left;}
#analysisForm .inputFields .binningDiv,  #analysisForm .inputFields .waterfall-params {background-color:#efefef; padding:5px; border: 1px dotted #333;}
#analysisForm .inputFields .waterfall-params input:not([type=checkbox]) {width: 180px; height: 15px !important; padding: 0; margin: 0px; font: inherit;}
#analysisForm .inputFields .waterfall-params select {width: 55px; height: 15px !important; padding: 0;  margin: 0; font: inherit;}

#analysisForm p label {margin: 0 10px 0 0;}

.manualBinningCategories {text-align: left;width: 165px;height: 120px;padding: 0px;background: white;font-family: Arial, Times, serif;font-size: 11px;overflow: auto;border: 1px solid #999;}
.manualBinningBin {width: 140px;height: 50px;background: white;font-family: Arial, Times, serif;font-size: 11px;overflow: auto;border: 1px solid #999;}

#analysisForm .inputFields .binningDiv #tblBinContinuousDep,
#analysisForm .inputFields .binningDiv #tblBinContinuousIndep,
#analysisForm .inputFields .binningDiv #tblBinContinuous
{width: 100%; padding: 3px;}

#analysisForm .inputFields #divManualBinContinuousIndep input,
#analysisForm .inputFields #divManualBinContinuousDep input,
#analysisForm .inputFields #divManualBinContinuous input
{width: 140px; height: 15px; padding:0; margin: 0;}

.chkpair {padding: 5px 0 10px 0;}
.minifont {font-size: 10px;}
.container {width: 810px;}
.left {max-width: 50%;overflow:auto;float: left;padding: 1px;}
.right {max-width: 50%;overflow:auto;padding: 1px;}

.three-layout-container {width: 1000px;}
.three-layout-left {max-width: 31%;overflow:auto;float: left;padding-left: 5px;}
.three-layout-middle {max-width: 38%;overflow:auto;float: left;padding-left: 5px;}
.three-layout-right {max-width: 31%;overflow:auto;padding-left: 5px;}

.divInputLabel {height: 60px;}
.divInputBox {margin: 10px 0 10px 0; width: 95% !important; height:75px!important;}
.img-result-size {width:80%; height:80%}
