/*

*= require main.css
*= require sanofi.css
*= require colorbox.css
*= require jquery/jqueryDatatable.css
*= require jquery/ui
*= require jquery-plugin.css
*= require extjs.css
*= require session_timeout.css

*/